@font-face {
  font-family: "pokemon-solid";
  src: url(./fonts/pokemonsolidnormal.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

body {
  background-image: url(../img/list1/fondo.webp);
  font-family: "pokemon-solid";
  letter-spacing: 4px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: auto;
}

.main-content {
  padding-top: 32px;
  padding-bottom: 60px;
  text-align: center;
  min-height: 900px;
}

select {
  border-radius: 8px;
  padding: 10px 8px;
  appearance: none;
  border-radius: 8px;
  background-color: #2351eb;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 8px;
  width: 200px;
  text-align: center;
  letter-spacing: 4px;
}

.card {
  border: 2px solid rgba(245, 243, 243, 0.327);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.358);
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.3);
  padding: 32px;
}

p {
  font-size: 2rem;
}

.btn {
  background-color: #214ee0;
}

#pokemon-name {
  color: black;
  font-size: 2rem;
}

h1,
h4 {
  -webkit-text-stroke: 2px #214ee0;
  color: #d0df06d2;
}

h1 {
  font-size: 400%;
}

#favorite-corazon {
  color: red;
  display: none;
}

#pokemon-card.favorite #favorite-corazon {
  display: inline;
}

#add-to-favorites {
  /* background-color: transparent; */
  /* border: none; */
  /* color: red; */
  font-size: 16px;
  letter-spacing: 4px;
  padding: 8px 14px;
}

#pokemon-card.favorite #add-to-favorites {
  display: none;
}
